body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-selected: #E8F2FC;
  --color-avatar-bg: var(--color-selected);
  --color-avatar-font: #297AD1;
  --color-border: #E2E8F0;
  --color-text-role: #797876;
  --color-error: #FBECEE;
  --color-text-error: #86434B;

  --border-radius-default: 8px;

  --font-size-large: 24px;
  --font-size-medium: 20px;
  --font-size-small: 16px;
  --font-size-tiny: 12px;

  font-size: var(--font-size-large);

  @media (max-width: 800px) {
      font-size: var(--font-size-medium)
  }

  @media (max-width: 500px) {
      font-size: var(--font-size-small)
  }

  @media (max-width: 300px) {
      font-size: var(--font-size-tiny)
  }
}